# Build directories
Build/
vcpkg_installed/
vcpkg/buildtrees/
vcpkg/downloads/
vcpkg/packages/
vcpkg/installed/

# IDE settings
.vs/
.vscode/
*.user

# Generated Assets
Cooked/

# Binaries
Oaken/

# OS generated
.DS_Store
Thumbs.db

# CMake
cmake-build-debug/

# Config
imgui.ini
Game/Sandbox/Assets/Models/*.fbx
Game/Sandbox/Assets/Models/*.oakmesh
